[Unit]
Description=IMU data API and TCP ingest
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/akshay/imu_server_v5_deploy
ExecStart=/home/akshay/imu_server_v5_deploy/.venv/bin/python server.py
Restart=always
RestartSec=3
User=akshay

[Install]
WantedBy=multi-user.target
