[Unit]
Description=IMU web dashboard
After=network-online.target imu-data-server.service
Wants=network-online.target

[Service]
WorkingDirectory=/home/akshay/imu_server_v5_deploy
ExecStart=/home/akshay/imu_server_v5_deploy/.venv/bin/python imu_server_v5.py
Restart=always
RestartSec=3
User=akshay

[Install]
WantedBy=multi-user.target
